<a href="https://colab.research.google.com/github/KhoushikC/Python/blob/master/random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
n=int(input("enter a number"))
x=1
while x<=n:
  print(x, end= " ")
  x=x+1

enter a number20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [13]:
#add only even number1 to n
#input :n 10
#output : 30
n = int(input("enter a number"))
sum=0
x=1
while (x<=n):
  if (x%2==0):
    sum=sum+x
  x=x+1
print(sum)

enter a number10
30

In [16]:
n=int(input("Enter a number:"))
temp=n
rev=0
while(n>0):
    p=n%10
    rev=rev*10+p
    n=n//10
if(temp==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")
    print(rev)

Enter a number:123
Not a palindrome!
321

#Functional programming 
 - Simple
 - Easy to read
 - Lengthy programs divided into sub programs
#**SYNTAX**
def nameofthefunction(<parameters>)
    statements
    return

In [20]:
n = int(input("enter a number"))
def addeven(n):
  sum = 0
  while n!=0:
    r=n%10
    if r%2==0:
      sum=sum+r
    n=n//10
  return sum
addeven(n)

enter a number123456789

20

In [24]:
#largest number
n = int(input("enter a number"))
def largestnum(n):
  l = 0
  while n!=0:
    r=n%10
    if(r>l):
      l=r      
    n=n//10
  return l
largestnum(n)

enter a number139

9

In [41]:
n = int(input("enter a number"))
def natural(n):
  for i in range(0, n):
    i=i+1
    print(i, end = " ")
natural(n)

enter a number10
1 2 3 4 5 6 7 8 9 10

In [43]:
n = int(input("enter a number"))
y = int(input("enter a number"))
def natural(n):
  for i in range(n-1, y):
    i=i+1
    print(i, end = " ")
natural(n)

enter a number11
enter a number15
11 12 13 14 15

In [49]:
n = int(input("enter a number"))
y = int(input("enter a number"))
def natural(n):
  for i in range(n-1, y,5):
    i=i+1
    print(i, end = " ")
natural(n)

enter a number0
enter a number45
0 5 10 15 20 25 30 35 40 45

In [58]:
def reverse(start, end):
  for i in range(end, start-1, -1):
    print(i, end = " ")
reverse(1,10)

10 9 8 7 6 5 4 3 2 1

# DATA STRUCTURES
 TYPES
 - List
 - Tuple 
 - Dictionary
#List is one of the greatest data structure in python
 CRUD operations on list
 1. Create
 2. Read
 3. Update 
 4. Delete
- list[1,2,3,4]

In [73]:
li = [1, 2, 3, 4, 5]
u  = ['a', 'e', 'i', 'o', 'u']
del li[0:5]
print(li)

[]